<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>E-mail</h2>
        <p>{{ userEmail }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="changePassword()">
    Alterar Senha
  </ion-button>

  <ion-button expand="block" color="danger" (click)="logout()">
    Sair
  </ion-button>
</ion-content>
